@page
@model Vieru_Marina_Turism.Pages.Flights.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.AirlineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.AirlineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Departure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Departure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.Arrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Arrival)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flight?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
